.container {
  grid-area: d;
  align-self: center;
  justify-self: end;
  padding: 5px;
  white-space: nowrap;
}

@media screen and (max-width: 600px){
  .container{
    justify-self: start;
    img{
      width: 25px;
    }
  }
}