.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "a b" "c d";
}

@media screen and (max-width: 600px){
    .container{
        grid-template-areas: "a a" "c c" "d b";
    }
}